$bg-color: #EBEBEB;
$border-color: #525771;
$text-color: #525771;
$dim-text-color: #8B90AD;
$gradient-1: #95B4CF;
$gradient-2: #C5D8E8;
$gradient-3: #F3FBFF;
$gradient-pos-1: 0%;
$gradient-pos-2: 7%;
$gradient-pos-3: 60%;
$category-bg-color: #B3B3B3; /* luminosity: 70% */
$save-color: green;