.pane-node-comments {
  margin-bottom: 30px;
}

article.comment {
  max-width: 350px;
  margin-bottom: 10px;

  &.new {
    .form-item {margin: 0;}

    header {
      input[type=submit] {
        float: left;
        display: inline;
        background-color: $category-bg-color;
        border: 0;
        border-radius: 6px;
        color: $bg-color;
        font-family: $tahoma;
        font-size: 10px;
        line-height: 12px;
        font-weight: normal;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1px 5px;
        margin: 0 0 0 5px;

        &:hover {
          background-color: $text-color;
        }
      }
    }

    > .field-name-comment-body {
      max-height: inherit;
    }

    textarea {
      background: transparent;
      border: 0;
      min-width: 100%;
      color: $comment-color;

      &::-webkit-input-placeholder {color: $placeholder-comment-color;}
      &:-moz-placeholder {color: $placeholder-comment-color;}
      &::-moz-placeholder {color: $placeholder-comment-color;}
      &:-ms-input-placeholder {color: $placeholder-comment-color;}
    }

    .grippie {display: none;}
  }

  > header {
    font-size: 10px;
    line-height: 16px;
    text-align: right;

    > time {
      color: $comment-time-color;
      margin-right: 5px;
    }

    > .author {
      background-color: $comment-color;
      border-radius: 6px 6px 0 0;
      display: inline-block;
      padding: 0 3px;

      &, a {
/*        font-size: 10px;
        line-height: 16px;*/
        color: $bg-color;
        text-decoration: none;
      }
    }
  }

  > .field-name-comment-body {
    border: 1px solid $comment-color;
    border-radius: 6px 0 6px 0;
    color: $comment-color;
    padding: 5px;
    font-size: 14px;
    line-height: 18px;
    max-height: 130px;
    overflow-y: auto;

    p {
      margin: 0 0 5px 0;
    }
  }

  &:after {
    content: "";
    background-image: url(../images/comment.png);
    background-repeat: no-repeat;
    background-size: 26px 13px;
    width: 26px;
    height: 13px;
    top: -1px;
    position: relative;
    display: block;
    visibility: visible;
  }

}