@import "colors";
@import "node";
@import "comments";

body {
  background-color: $bg-color;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  font-weight: normal;
}


/* TODO: remove this from here, move it to layouts */
body.node-type-thought {
  .panel-2col {
    .panel-col-first {width: 65%;}
    .panel-col-last {width: 35%;}
  }
}